IndentWidth:   3
Standard: C++03
IndentAccessModifiers: true
BreakBeforeBraces: Allman
SpacesInParentheses: true
AlignAfterOpenBracket: true
SpacesInSquareBrackets: true
AlignArrayOfStructures: Right
BreakBeforeTernaryOperators : true
AlignOperands: AlignAfterOperator
AllowShortFunctionsOnASingleLine: None
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 2
BreakTemplateDeclarations: Yes

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AlignCompound:    true
  AcrossComments:   true
  AlignFunctionDeclarations: true
  AlignFunctionPointers: true

AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: true

SpacesInParensOptions:
  ExceptDoubleParentheses: true
  InConditionalStatements: true
  InEmptyParentheses: true
